{% extends 'base.html.twig' %}

{% block body %}
    <h1>Portatil</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ portatil.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ portatil.codigo }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ portatil.marca }}</td>
            </tr>
            <tr>
                <th>Aula</th>
                <td>{{ portatil.aula }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('portatil_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('portatil_edit', { 'id': portatil.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
